%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			= link_to "Tuiter_v2", root_path, id: 'logo'
			%nav
				%ul.nav.pull-right
					%li= link_to "Home", root_path
					%li= link_to "Ayuda", help_path
					- if signed_in?						
						%li#fat-menu.dropdown
							%a{:class => 'dropdown-toggle', "data-toggle" => 'dropdown', :href => '#'}
								Cuenta
								%b{:class => 'caret'}
							%ul.dropdown-menu
								%li= link_to "Perfil", current_user
								%li= link_to "Configuracion", '#'
								%li.divider
								%li= link_to "Log out!", logout_path, method: :delete
					- else
						%li= link_to "Registro", registro_path
						%li= link_to "Log in!", login_path
					